#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.main-bg {
  height: 300px;
  /* background-image: url("../public/img/img.jpg"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.home,
.shoeList {
  cursor: pointer;
}

.home {
  transition: all 0.3s;
}

.home:hover {
  font-style: italic;
}

.tabUI {
  display: flex;
  width: 100%;
  justify-content: center;
  /* margin: 0 auto; */
}

.tabUI ul {
  display: flex;
  list-style: none;
}

.tabUI li {
  border: 1px solid black;
  margin: 20px 20px 0px 20px;
}

.tabUI li:hover {
  background-color: red;
}

.tabUI li:focus {
  background-color: blue;
}
